.Messagerie {
    display: flex;
    min-height: 100vh;
}

.Liste {
    width: 300px;
    margin-left: 78px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid black;
    overflow-y: auto;
}

.bouton {
    width: 100%;
    height: 50px;
}

.case {
    display: flex;
}

.ChatConteneur {
    flex-grow: 1;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.message-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.messages {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    position: relative;
}

.envoyeur {
    background-color: #e0e0e0;
    color: #000;
    align-self: flex-start;
}

.receveur {
    background-color: #4CAF50;
    color: #fff;
    align-self: flex-end;
}

.message-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.icon1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.icon3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.icon2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.messages input {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.messages button {
    padding: 8px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contain {
    display: flex;
    width: 100%;
}

.header {
    padding: 20px;
    background: red;
}

.options-container {
    position: relative;
    display: flex;
    align-items: center;
}

.options-container.gauche {
    order: 1;
}

.options-container.droite {
    order: -1;
    margin-left: auto;
    background-color: #ccc;
}

.options-icon {
    cursor: pointer;
    font-size: 24px;
    padding: 0 10px;
    display: none;
}

.messages:hover .options-icon {
    display: inline;
}

.option {
    position: absolute;
    top: 30px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.option p{
    color: #000;
}
.option button {
    background: white;
    border: none;
    cursor: pointer;
    color: red;
    text-align: center;
}

.option button:hover {
    background-color: #ddd;
}

.modal {
    display: none;
    height: 20%;
    width: 20%;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
    position: relative;
    text-align: center;
    font-size: 125%;
}

.modal-content button {
    background-color: white;
    width: 100%;
    size: 40%;
    border: none;
    margin-top: 10px;
    font-size: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.close{
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button:focus,
.modal-content button:hover {
    background-color: gray;
    border: none;
}

